.icon_decor-circle-file {
  font-size: 106px;
  width: 1em;
  height: 1em;
}

.icon_decor-circle-with-dot-2 {
  font-size: 95px;
  width: 1em;
  height: 1.07368em;
}

.icon_decor-circle-with-dot-3 {
  font-size: 106px;
  width: 1em;
  height: 1em;
}

.icon_decor-circle-with-dot {
  font-size: 67px;
  width: 1em;
  height: 0.98507em;
}

.icon_decor-circle {
  font-size: 68px;
  width: 1em;
  height: 1.01471em;
}

.icon_eclipse {
  font-size: 52px;
  width: 1em;
  height: 1em;
}

.icon_fb-custom {
  font-size: 18px;
  width: 1em;
  height: 1.61111em;
}

.icon_iconFile {
  font-size: 40px;
  width: 1em;
  height: 1.25em;
}

.icon_iconFollow {
  font-size: 24px;
  width: 1em;
  height: 0.95833em;
}

.icon_iconList {
  font-size: 67px;
  width: 1em;
  height: 0.98507em;
}

.icon_iconQuestion {
  font-size: 22px;
  width: 1em;
  height: 1.31818em;
}

.icon_inst-custom {
  font-size: 54px;
  width: 1em;
  height: 0.98148em;
}

.icon_nav-arrow-left-custom {
  font-size: 10px;
  width: 1em;
  height: 1.8em;
}

.icon_nav-arrow-right-custom {
  font-size: 10px;
  width: 1em;
  height: 1.9em;
}

.icon_polygon {
  font-size: 49px;
  width: 1em;
  height: 0.85714em;
}

.icon_vk-custom {
  font-size: 34px;
  width: 1em;
  height: 0.64706em;
}

.icon_ytb-custom {
  font-size: 30px;
  width: 1em;
  height: 0.7em;
}

.icon_arrow-type-1-dot {
  font-size: 7px;
  width: 1em;
  height: 1.14286em;
}

.icon_arrow-type-1-vector {
  font-size: 5px;
  width: 1em;
  height: 1.6em;
}

.icon_arrow-type-1 {
  font-size: 75px;
  width: 1em;
  height: 0.02667em;
}

.icon_decor-circle-file {
  font-size: 106px;
  width: 1em;
  height: 1em;
}

.icon_decor-circle-with-dot-2 {
  font-size: 95px;
  width: 1em;
  height: 1.07368em;
}

.icon_decor-circle-with-dot-3 {
  font-size: 106px;
  width: 1em;
  height: 1em;
}

.icon_decor-circle-with-dot {
  font-size: 67px;
  width: 1em;
  height: 0.98507em;
}

.icon_decor-circle {
  font-size: 68px;
  width: 1em;
  height: 1.01471em;
}

.icon_eclipse {
  font-size: 52px;
  width: 1em;
  height: 1em;
}

.icon_fb-custom {
  font-size: 18px;
  width: 1em;
  height: 1.61111em;
}

.icon_iconFile {
  font-size: 40px;
  width: 1em;
  height: 1.25em;
}

.icon_iconFollow {
  font-size: 24px;
  width: 1em;
  height: 0.95833em;
}

.icon_iconList {
  font-size: 67px;
  width: 1em;
  height: 0.98507em;
}

.icon_iconQuestion {
  font-size: 22px;
  width: 1em;
  height: 1.31818em;
}

.icon_inst-custom {
  font-size: 54px;
  width: 1em;
  height: 0.98148em;
}

.icon_nav-arrow-left-custom {
  font-size: 10px;
  width: 1em;
  height: 1.8em;
}

.icon_nav-arrow-right-custom {
  font-size: 10px;
  width: 1em;
  height: 1.9em;
}

.icon_polygon {
  font-size: 49px;
  width: 1em;
  height: 0.85714em;
}

.icon_vk-custom {
  font-size: 34px;
  width: 1em;
  height: 0.64706em;
}

.icon_ytb-custom {
  font-size: 30px;
  width: 1em;
  height: 0.7em;
}

